/* Estilos gerais */
body {
    font-family: 'Archivo', sans-serif;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #3B82F6;
}

/* Estilo do card */
.card {
    padding: 2rem;
    color: #CBD5E1;
    display: flex;
    justify-content: space-between;
 
    overflow: hidden;
    width: 950px;
    height: 450px;
    

    border-radius: 30px;
    background: linear-gradient(90deg, #0F172A 0%, #1E293B 100%, #1E293B 100%);
    box-shadow: 0px 58px 75.4px -46px #172554;
}

/* Área de perfil */
.contact-info__name{

    font-size: 40px;

}

h1 + .contact-info__text{
    color: #94A3B8;
    margin-bottom: 50px;
}

.contact-info__profile{
    display: flex;
    justify-content: space-between;
    width: 35vw;
}
.contact-info__image{
    width: 167px;
    height: 167px; 
    border-radius: 50%;
    border: 8px solid #1E293B;
    background: url("../img/foto-002.jpeg"), lightgray 100% / contain no-repeat;

}
.contact-info__social a {
    text-decoration: none;
    color: #CBD5E1;
}
.contact-info__email, .contact-info__link{
    display: flex;
    gap: 8px;
    align-items: center;
}


/* Barra de progresso */
.progress-bar__text{
    font-family: Archivo;
    font-size: 18px;
}

.progress-bar__item {
    background-color: #0F172A;
    margin-top: .75rem;
    margin-bottom: 1.5rem;

    width: 300px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    
}

.progress-bar-inner {
    height: 100%;
    width: 0;
    background-color: #3B82F6;
    border-radius: 8px; 
}

/* Onda */

.wave{
    position: absolute;
    width: 1000px;
    top:24.7rem;
    right: 11.6rem;
}

